@{
    ViewData["Title"] = "Home Page";
}

    <div class="hero-wrap" style="background-image: url('images/bg.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
      <div class="overlay-2"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
          <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text text-center w-100">
	            <h1 class="mb-4">Haz tu Mercado en Línea <br></h1>
                <p>Nosotros te lo llevamos a Casa :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
